	<div
    class="parallax-image-wrapper parallax-image-wrapper-50"
	data-anchor-target="#dragons + .gap" 
	data-bottom-top="transform:translate3d(0px, 300%, 0px)"
	data-top-bottom="transform:translate3d(0px, 0%, 0px)">
	
	<div
	class="parallax-image parallax-image-50"
	style="background-image:url({{page.parralex_image | prepend: site.baseurl}})" 
	data-anchor-target="#dragons + .gap" 
	data-bottom-top="transform: translate3d(0px, -60%, 0px);" 
	data-top-bottom="transform: translate3d(0px, 60%, 0px);"></div> 
	<!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>